@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

.container {
  max-width: 1500px;
}

#main-header {
  height: 100px;
  border-bottom: 10px solid #37c1ce;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

#logo {
  max-height: 90px;
  max-width: 250px;
  vertical-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#navbar {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

#navbar li {
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
}

#navbar li:hover {
  background-color: rgba(55, 193, 206, 0.3);
  cursor: pointer;
  color: black;
}

#navbar a:hover {
  color: black;
}

#slide-show {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#slide-show img {
  width: 100%;
  height: auto;
}

.carousel-control {
  background-color: black;
  width: 30px;
}

#about-us {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#about-us #video-wrapper iframe {
  width: 100%;
  height: 17rem;
}

#our-impact {
  background: url('imgs/slideshow/img7.jpg');
  background-size: cover;
  background-position: start;
  width: 100vw;
}

#our-impact .white-wrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}

#our-impact header {
  padding-top: 20px;
  padding-bottom: 30px;
}

.impact-card {
  padding: 0;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;

  font-weight: 500;

  background-color: rgba(55, 193, 206, 0.2);
  border-radius: 25px;
}

#projects {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.project-card {
  padding: 20px;
  height: 450px;

  overflow: hidden;
}

.project-card p {
  font-size: 20px;
}

#founder {
  margin-top: 50px;
}

#founder .photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#founder .photo img {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  border-radius: 200px;
  border: 10px solid rgb(55, 193, 206);
}

#founder ul {
  margin-left: 25px;
  list-style-type: disc;
}

#awards {
  margin-top: 40px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

#awards .award {
  position: relative;
  background: #ffbc00;
  overflow: hidden;
}

#awards .award::after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

#awards .award:hover::after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

#awards .award:hover .award-image {
  transform: scale(1.2);
}

#awards .award:hover .award-text {
  opacity: 1;
  transform: translateY(0);
}

#awards .award .award-image {
  height: auto;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

#awards .award .award-image::before {
  content: '';
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

#awards .award .award-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}

#awards .award .award-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transform: translate(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
    transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
}

#awards .award .txt-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

#media-center {
  margin-left: 50px;
  margin-top: 40px;
  margin-right: 50px;
}

#media-center a {
  text-decoration: none;
  color: inherit;

  position: absolute;
  bottom: 50px;

  padding: 5px;
  background-color: rgb(55, 193, 206);
}

#media-center a:hover {
  background-color: rgb(152, 232, 240);
}

#media-center .jumbotron {
  padding: 20px;
  height: 300px;
  overflow: hidden;
}

#contact-us {
  background-image: url('imgs/communication-contact-conversation-33999.jpg');
  background-size: cover;
  background-position: center;

  padding: 50px;
}

#form-wrapper {
  display: block;
  width: 50%;
  margin-left: 40%;
}

#form-wrapper textarea {
  height: 230px;
  width: 100%;
  vertical-align: text-top;
}

#footer {
  padding: 10px;
  text-align: center;
  background-color: black;
  color: rgb(192, 192, 192);
}

#footer a {
  color: rgba(255, 255, 255, 0.5);
}

.article {
  margin-top: 30px;
}

.bg-txt-1 {
  font-size: 40px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

.white-wrapper {
  background-color: rgba(255, 255, 255, 0.25);
}

.bg-txt-2 {
  font-size: 25px;
  font-weight: 500;
}

::-webkit-scrollbar {
  background: rgba(99, 99, 99, 0.1);
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(55, 193, 206, 0.5);
  border-radius: 1ex;
  box-shadow: 5px 10px 7px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

@media only screen and (max-width: 1207px) {
  #main-header {
    height: 150px;
  }
}

@media only screen and (max-width: 991px) {
  #our-impact {
    background: #ccc;
  }

  #our-impact .white-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-card {
    height: 350px;
  }
}

@media only screen and (max-width: 664px) {
  #main-header {
    height: 310px;
  }

  #contact-us {
    background-position: left;
  }

  #form-wrapper {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
